{% extends 'layout-admin.html.twig' %}

{% block title %}Hello AdminpanelController!{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/podcasts-admin.css') }}">
{% endblock %}

{% block content %}
<p class="h4 py-2 text-secondary border-bottom border-secondary">Todos los podcasts</p>
<table class="table table-striped text-center my-5">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Título</th>
            <th scope="col">Fecha de creación</th>
            <th scope="col">Usuario</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for podcast in podcasts %}
        <tr>
            <th scope="row">{{ podcast.title }}</th>
            <td>{{ podcast.title }}</td>
            <td>{{ podcast.createDate | date("m/d/Y") }}</td>
            <td>{{ podcast.createDate | date("m/d/Y") }}</td>
            <td>
                <button class="btn btn-warning">E</button>
                <button class="btn btn-danger">B</button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}