{% extends "base.html.twig" %}

{% block name %}{% endblock %}

{% block stylesInLine %}
    <style>
        .nav-item {
            border-bottom: rgb(89, 89, 95) 1px solid;
        }

        .nav-link {
            color: #ffffff;
        }
    </style>
{% endblock %}

{% block body %}
    {% block header %}
        <header class="border-bottom">
            <div class="bg-light px-5 py-4 d-flex justify-content-between align-items-baseline">
                <div class="d-none d-xl-block">
                    <p class="h3">Panel de administración</p>
                </div>

                <nav class="navbar navbar-expand-lg navbar-light bg-light d-xl-none">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        <li class="nav-item">
                          <a class="nav-link" href="{{ path('home') }}">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="{{ path('user_podcasts') }}">Area usuario</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="{{ path('adminpanel.show_podcasts') }}">Podcats</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('adminpanel.show_users') }}">Usuarios</a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('app_logout') }}" class="nav-link text-primary">Cerrar sesión</a>
                        </li>
                      </ul>
                    </div>
                </nav>
            </div>
        </header>
    {% endblock %}

    {% block menu %}
    <div class="row justify-content-between mr-5">
        <nav class="bg-dark px-5 d-none d-xl-block col-xl-2 col-2 nav-bar">
            <ul class="nav flex-column text-center my-5">
                <li class="nav-item p-2">
                    <a class="nav-link" href="{{ path('home') }}">Home</a>
                </li>
                <li class="nav-item p-2">
                    <a class="nav-link" href="{{ path('user_podcasts') }}">Area usuario</a>
                </li>
                <li class="nav-item p-2">
                    <a class="nav-link" href="{{ path('adminpanel.show_podcasts') }}">Podcasts</a>
                </li>
                <li class="nav-item p-2">
                    <a class="nav-link" href="{{ path('adminpanel.show_users') }}">Usuarios</a>
                </li>
                <li class="nav-item p-2" style="border: none;">
                    <div class="my-5">
                        <a href="{{ path('app_logout') }}"><button class="btn btn-warning">Cerrar sesión</button></a>
                    </div>
                </li>
            </ul>
        </nav>
        
        <section class="col-7 col-12 col-xl-7 shadow my-5 mx-4 mx-xl-0 px-4 pb-4 bg-light rounded">
            {% block content %}{% endblock %}
        </section>


        <aside class="d-none d-xl-block col-xl-2 shadow my-5 px-4 pb-4 bg-light rounded">
            <p class="h4 py-2 text-secondary border-bottom border-secondary">Estadísticas</p>
            <div class="px-1">
                {% for group,value in statistics %}
                    <b><p>{{ group }}</p></b>
                    {% for item,value in value %}
                        <p>{{ item }} = {{value}}</p>
                    {% endfor %}
                {% endfor %}
            </div>
        </aside>
    </div>
    {% endblock %}

    {% block footer %}
    
    {% endblock %}
{% endblock %}