{{ form_start(form) }}
    <b>{{ form_label(form.title, "Título") }}</b>
    {{ form_row(form.title) }}

    <b>{{ form_label(form.description, "Contenido") }}</b>
    {{ form_row(form.description) }}
    
    <b>{{ form_label(form.podcast, "Podcast") }}</b>
    {% if edit is defined %}
        {{ form_row(form.podcast, {'required': false}) }}
    {% else %}
        {{ form_row(form.podcast) }}
    {% endif %}

    <b>{{ form_label(form.image, "Imagen de portada") }}</b>
    {% if edit is defined %}
        {{ form_row(form.image, {'required': false}) }}
    {% else %}
        {{ form_row(form.image) }}
    {% endif %}

    <button class="btn"></button>
{{ form_end(form) }}
